.gameBoard{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);

    justify-content: center;
    padding-top: 50px;
}


.result{
    color: red;
    text-transform: uppercase;
    font-size: xx-large;
}
