.tiger:after {
    content: "🐅";
}

.goat:after {
    content: "🐐";
}

.tiger:after, .goat:after {
    font-size: 50px;
}

.piece {
    right: 65px;
    bottom: 75px;
    position: absolute;
    cursor: move;
}

.piece.toPlace {
    transform: translate(20%, 20%);
    transition: all 1s ease-in-out;
}

.piece.isDragging {
    opacity: 0.5;
    cursor: move;
}
